.catContMen{
    /* border: 1px solid teal; */
    /* height: 250px; */
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 120px;
    margin-right: 120px;
}

.catMen > img {
    width: 300px;
}