.catContMen{
    /* border: 1px solid teal; */
    /* height: 250px; */
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 60px;
    margin-right: 120px;
    gap: 20px;
}

.catMen > img {
    width: 300px;
}

.catMen > h3{
    margin-bottom: 10px;
    margin-top: 5px;
}