.catContMen{
    /* border: 1px solid teal; */
    /* height: 250px; */
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 60px;
    margin-right: 120px;
    gap: 20px;
}

.catMen > img {
    width: 300px;
}

.catMen > h3{
    margin-bottom: 10px;
    margin-top: 5px;
}

/* @media only screen and (max-width: 700px){
    .catContMen{
        width: 100%;
        padding: 0 16px;
        min-width: 288px;
        text-align: center;
        background: rgba(0,0,0,0);
        margin: 0 auto;
        position: relative;
        clear: both;
        box-sizing: border-box;
        text-decoration: none;
        font-size: 0;
        letter-spacing: 0;
        z-index: 0;
        margin-top: 20px;
    }

    .catMen > img {
        width: 300px;
    }
    
    .catMen > h3{
        margin-bottom: 10px;
        margin-top: 5px;
    }
} */