.ctaSecCont{
    /* border: 1px solid red; */
    /* height: 200px; */
    margin-top: 50px;
    background-color: #f798b3;
    padding: 30px;
}

.ctaSecCont > span {
    font-size: 24px;
    font-weight: bolder;
    display: block;
    margin-bottom: 20px;
}

.ctaSecCont > button {
    background-color: black;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 17px;
}

.ctaSecCont > button:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}


