
.edit_main_div{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.editProducts{
    width: 85%;
    margin: auto;
    /* margin-top: 50px; */
    background-color:#F8F8F8;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}

.editProduct .add-product-wrapper{
    padding: 40px 25px;
    width: 50%;
    height:max-content;
    background-color:rgb(203, 198, 198);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.editProduct .form-label{
    font-size: 20px;
}

.editProduct .addbtn{
    margin-top: 15px;
    font-size: 18
    px;
    padding: 10px 15px;
    background-color: black;
    color: white;
    cursor: pointer;
}
.editProduct .addbtn:hover{
    transform: scale(1.1);
    transition: all 0.1s ease-in-out;
}

.editProduct .form-element-div select,.form-element-div input{
width: 60%;
box-sizing: border-box;

}


.editProduct .form-element-div{
    margin-top: 500px;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.editProduct .showAddProduct{
    padding:60px 10px;
    width: 60%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    box-shadow: rgba(240, 46, 46, 0.4) 5px 5px, rgba(240, 46, 75, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px;
}


.editProduct .show_input{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 5px solid red; */

}
.editProduct .show_input div{
width: 50%;
/* border: 5px solid red; */

}


@media all and (min-width: 480px) and (max-width: 900px) {

  
    .editProducts{
        margin:auto;
        height: max-content;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* border: 5px solid red; */
        /* margin-top: 100px; */
    }
    
    .editProduct .add-product-wrapper{
    width: 70%;
    gap: 20px;
    /* border: 5px solid red; */

}

.editProduct .showAddProduct{
    width: 70%;
    gap: 20px;
    /* border: 5px solid red; */
}
}

@media all and (min-width: 480px) and (max-width: 900px) {

}
