.nav_containor{
    width: 100%;
    height: 160px;
    display: flex;
    flex-direction: column;
}

.nav_first_div{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: flex-end;
    background-color:#F8F8F8;
    border:  5pxx solid white;

}

.nav_first_div>div{
    display: flex; 
    margin-right: 100px;
}

.nav_first_div>div div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_first_div>div button{
    padding: 10px 35px;
    background-color: white;
    border: none;
}

.nav_first_div>div button:hover{
    color: rgb(84, 84, 230);
}
.nav_first_div>div img{
    width: 30%;
}


/* //first top div  ends here */


/* //second nav div starts here */
.nav_second_div{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#2D2D2D;
    color: white;

}
.nav_mid{
    width:82%;
    margin: auto;
    display: flex;
    gap: 20px;
    align-items: center;
    /* border: 5px solid red; */
}


#nav_logo{
    cursor: pointer;
    width:max-content;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

#nav_logo div:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
}





#nav_logo div h4{
    cursor: pointer;
    padding: 20px 15px;
    margin: auto;
}

#search_box{
    cursor: pointer;
    width:60%;
}

#nav-icons{
    cursor: pointer;
    width: max-content;
    display: flex;
    gap: 30px;
    justify-content: space-around;
    align-items: center;
}

.nav_third_div{
    width: 100%;
    height: 70px;
    height: max-content;
    display: flex;
    background-color:#525050;


}

.nav_hover_div{
  width:80%;
    height: max-content;
    margin:auto;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    font-size: auto;
}

.nav_third_div ol{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:5px;
}


 li {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

 .nav_hover_div p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 18px 12px;
    text-decoration: none;
    font-size: 15px;
    letter-spacing: 1px;
}

.nav_third_div p:hover{
    box-sizing: border-box;
    background-color:#F8F8F8;
    color: black;
    outline: 2px solid rgb(88, 88, 242);
outline-offset: -2px;
    /* border: 1px solid ; */

}

.red_bg_nav{
    background-color: #D01345;
    color: white;
}

.medium_nav{
    display: none;
}





/* //last div */

/* megamenu */

.drop_dwn{

    width: 100%;
    /* margin: auto; */
    display: flex;
    justify-content: center;
    background-color:#525050;
}







/* //Medium screen */

@media all and (min-width: 480px) and (max-width: 900px) {

    .medium_nav{
        display: block;
    }

    .nav_containor{
        display: none;
    }
    

.nav_first_div{
    display: none;
}

    #search_box{
        display: none;
    }


.drop_dwn{
    display: none;
}
    
    
}

@media all and (min-width: 320px) and (max-width: 480px) {

   
    .medium_nav{
        display: block;
    }

    .nav_containor{
        display: none;
    }

    .drop_dwn{
        display: none;
    }



    .nav_first_div{
        display: none;
    }
    
        #search_box{
            display: none;
        }
}














